manifest {
  name            = 'laava'
  author          = 'formbio'
  homePage        = 'https://github.com/formbio/laava'
  description     = 'Long-read AAV Analysis'
  mainScript      = 'main.nf'
  nextflowVersion = '>=24.02'
  version         = 'dev'
}

params {
  // Workflow inputs
  ui_source_type = 'file_source'
  seq_reads_file = null
  seq_reads_folder = null
  sample_unique_id = ''
  sample_display_name = ''
  sample_in_metadata = null
  
  // Docker configuration
  use_docker = false
  
  // nf-core institutional configs
  config_profile_name = null
  config_profile_description = 'Long-read AAV Analysis pipeline'
  config_profile_contact = 'formbio'
  config_profile_url = 'https://github.com/formbio/laava'
  
  // Resource options
  max_memory = '128.GB'
  max_cpus = 16
  max_time = '240.h'
  
  vector_type = 'unspecified'
  vector_bed = null
  vector_fa = null
  packaging_fa = null
  host_fa = null
  itr_label_1 = ''
  itr_label_2 = ''
  mitr_label = ''
  repcap_name = ''
  helper_name = ''
  lambda_name = ''
  flipflop_name = ''
  flipflop_fa = null
  // "full" read classification thresholds
  target_gap_threshold = 200
  max_allowed_outside_vector = 100
  max_allowed_missing_flanking = 100
  min_supp_joint_coverage = 0.8

  // Required for Form Bio workflows
  output = 'output'

  // When LAAVA is used as a submodule, this becomes 'modules/laava'
  laava_dir = "${projectDir}"

  // Hosted Docker containers
  container_repo = 'ghcr.io/formbio'
  // use ':dev' for local testing, ':latest' for cloud
  container_version = ':latest'

  cpus = 8
  memory = '32 GB'

  custom_config_version      = 'master'
  custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}

process {
  container = "${params.container_repo}/laava${params.container_version}"
  
  // Default process resources
  cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
  memory = { check_max( 6.GB * task.attempt, 'memory' ) }
  time   = { check_max( 4.h  * task.attempt, 'time'   ) }
  
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries    = 1
  maxErrors     = '-1'
  
  // Process-specific resources can be added here
  withLabel:process_single {
    cpus   = { check_max( 1                  , 'cpus'    ) }
    memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
    time   = { check_max( 4.h  * task.attempt, 'time'    ) }
  }
  withLabel:process_low {
    cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
    memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
    time   = { check_max( 4.h   * task.attempt, 'time'    ) }
  }
  withLabel:process_medium {
    cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
    memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
    time   = { check_max( 8.h   * task.attempt, 'time'    ) }
  }
  withLabel:process_high {
    cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
    memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
    time   = { check_max( 16.h  * task.attempt, 'time'    ) }
  }
  withLabel:process_long {
    time   = { check_max( 20.h  * task.attempt, 'time'    ) }
  }
  withLabel:process_high_memory {
    memory = { check_max( 200.GB * task.attempt, 'memory' ) }
  }
}


// Execution environments

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

docker {
  enabled = params.use_docker
  runOptions = '-u $(id -u):$(id -g)'
}

google {
  region = 'us-central1'
  batch {
    bootDiskSize = '100.GB'
    debug = true
    sshDaemon = true
  }
}

profiles {
  debug {
    dumpHashes             = true
    process.beforeScript   = 'echo $HOSTNAME'
    cleanup                = false
    nextflow.enable.configProcessNamesValidation = true
  }
  
  // For local Nextflow development
  local {
    params.config_profile_name        = 'Local'
    params.config_profile_description = 'Local execution profile'
    params.output = 'workflow-outputs/output'
    process.executor = 'local'
    process.cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    process.memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    workDir = 'workflow-outputs/work'

    trace {
        enabled = true
        overwrite = true
        file = 'nextflow_logs/pipeline_trace.txt'
        field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
    }
    timeline {
        enabled = true
        overwrite = true
        file = 'workflow-outputs/nextflow_logs/timeline.html'
    }
    report {
        enabled = true
        overwrite = true
        file = 'workflow-outputs/nextflow_logs/report.html'
    }
    dag {
        enabled = true
        overwrite = true
        file = 'workflow-outputs/nextflow_logs/pipeline_dag_${trace_timestamp}.svg'
    }
  }

  // Docker profile
  docker {
    params.config_profile_name        = 'Docker'
    params.config_profile_description = 'Container execution with Docker'
    params.use_docker = true
    docker.enabled         = true
    docker.userEmulation   = true
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    apptainer.enabled      = false
  }
  
  // Singularity profile  
  singularity {
    params.config_profile_name        = 'Singularity'
    params.config_profile_description = 'Container execution with Singularity'
    singularity.enabled    = true
    singularity.autoMounts = true
    docker.enabled         = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    apptainer.enabled      = false
  }

  // Cloud platforms
  googlebatch {
    params.config_profile_name        = 'Google Batch'
    params.config_profile_description = 'Google Batch execution profile'
    
    executor {
      queueSize = 50
      name = 'google-batch'
      submitRateLimit = '10sec'
      pollInterval = '30 sec'
    }
    
    process {
      executor = 'google-batch'
      maxForks = 50
      cache = 'lenient'
      disk = '500 GB'
    }
  }
}


// Load nf-core custom profiles from different institutions
// Note: Uncomment the next line if you are using this pipeline on a supported cluster
// See https://github.com/nf-core/configs for more information
if (!System.getenv('NXF_OFFLINE') && params.custom_config_base) {
    try {
        includeConfig "${params.custom_config_base}/nfcore_custom.config"
    } catch (Exception e) {
        System.err.println("WARNING: Could not load nf-core/configs profiles: ${params.custom_config_base}/nfcore_custom.config")
    }
}